<!-- templates/cart.html -->
{% extends 'base.html' %}

{% block title %}Carrito de Compras - REPASA{% endblock %}

{% block content %}
    <h1 class="mt-5 text-center">Carrito: </h1>
    <ul class="list-group mt-3">
        {% for product in cart %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{ product.name }} - ${{ product.price }}</span>
                    <div class="float-right">
                        <form action="{{ url_for('remove_from_cart', product_id=product.id) }}" method="get" style="display: inline-block;">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        <form action="{{ url_for('edit_quantity', product_id=product.id) }}" method="get" style="display: inline-block;">
                            <input type="number" name="quantity" value="{{ product.quantity }}" min="1" style="width: 50px;">
                            <button type="submit" class="btn btn-primary btn-sm">Editar</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="d-flex justify-content-end mt-3">
        <p class="mr-2">Total: Q{{ total_price }}</p>
    </div>

    <a class="btn btn-secondary mt-3" href="{{ url_for('index') }}">Volver al inicio</a>
    
{% endblock %}