<!-- templates/product_list_paginated.html -->
{% extends 'base.html' %}

{% block title %}Productos - REPASA{% endblock %}

{% block content %}
    <h1 class="mt-5 text-center">Lista de Productos</h1>
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">{{ product.name }} - ${{ product.price }}</li>
        {% endfor %}
    </ul>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            {% for p in range(1, total_pages + 1) %}
                {% if p == page %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ p }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('product_list', page=p) }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    
    <a class="btn btn-secondary mt-3" href="{{ url_for('index') }}">Volver al inicio</a>
{% endblock %}
